<!DOCTYPE html>
<html>

<header>
    <div class="container">
        <h1>FAQ</h1>
       
    </div>
    <style>header {
        background-color: #7868ef;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
    }
    
    h1 {
        font-size: 36px;
        margin: 0;
    }
    
    p {
        font-size: 18px;
        margin: 10px 0 0;
    }
    .container1{
        background-color: rgb(172, 177, 227);
        height: 50px;
        padding-top: 10px;
    }</style>
</header>
<link rel="stylesheet" href="./style.css">
<body>
<p>
<b>1. Are Bamboo Products Eco Friendly?</b><br>
 

Yes, Bamboo Products are 100% eco-friendly. Bamboo products contain no plastic or non-degradable materials; it’s zero waste, biodegradable and good for the environment.
<br><br>
<b>2. Where does Bamboo grow in India?</b><br>

Bamboo grows naturally in all parts of India except for Kashmir.
<br><br>
<b>3.Can I use bleach on bamboo products?</b><br>
t's not recommended to use bleach or harsh chemicals on bamboo products, as they can weaken the fibers and cause discoloration.
Instead, opt for mild, eco-friendly detergents that are safe for use on bamboo fabrics.<br><br>
<b>4. Could bamboo replace single-use plastic products in the future?</b>
 <br>

For a lot of items, we are already seeing Bamboo replacing plastic-based products, for example,  Bamboo toothbrushes. But there can be some single-use plastic products where bamboo might not work but other natural materials can help. 
<br><br>
<b>5. How long do Bamboo Products last?</b>
 <br>

Depending on the type of product and care, in general, bamboo products can last up to 2 years. <br><br>
<b>6.How do I wash bamboo products?</b><br>
Bamboo products such as clothing, towels, and bedding can generally be machine washed in cold or warm water on a gentle cycle.
Use a mild detergent without bleach or fabric softeners to avoid damaging the bamboo fibers.
Avoid using hot water or high-temperature settings, as they can cause shrinkage or damage to the fabric.<br><br>
<b>7.How do I store bamboo products?</b><br>
Store bamboo products in a cool, dry place away from direct sunlight to prevent discoloration or damage.
Avoid storing bamboo products in plastic bags or containers for extended periods, as this can trap moisture and lead to mildew or odors.<br><br>

</p>

           <div class="container1">
                    <div class="col-md-12 text-center">
                        <p><center>&copy; 2024 ECOROOT. Sustainable Bamboo Products.</center></p>
                    </div>
                </div>
</body>
</html>