<!DOCTYPE HTML>
<html>

<head>
    <title>Privacy Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: justify;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>
            This Privacy Policy describes how EcoRoots.com (the “Site” or “we”) collects, uses, and discloses your Personal Information when you visit or make a purchase from the Site.
            <br><br>

            <strong>Collecting Personal Information</strong>

            When you visit the Site, we collect certain information about your device, your interaction with the Site, and information necessary to process your purchases. We may also collect additional information if you contact us for customer support. In this Privacy Policy, we refer to any information that can uniquely identify an individual (including the information below) as “Personal Information”. See the list below for more information about what Personal Information we collect and why.
        </p>
    </div>
</body>

</html>
